doctype html
html
    head
        title= "GetStarted"
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet' type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
        link(rel='stylesheet' type="text/css" href="/stylesheets/GetStarted.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous")

    body
        nav(class="navbar navbar-dark bg-dark navbar-expand-md fixed-top")
            a(href="#" class="navbar-brand")
                i( class="fab fa-pagelines")
            button(class="navbar-toggler" data-toggle="colapse" data-target="#navLinks" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="navLinks")

        section(class="container-fluid px-0")
            div(class="row align-items-center")
                div(class="col-lg-6")
                    div(id = "headingGroup" class="text-black text-center d-none d-lg-block mt-5")
                        h1(class="") GROWTH
                            span
                                i( class="fab fa-pagelines" alt="")
                            | STOCK
                        h1(class="") GROWTH
                            span
                                i( class="fab fa-pagelines" alt="")
                            | STOCK
                        h1(class="") GROWTH
                            span
                                i( class="fab fa-pagelines" alt="")
                            | STOCK
                        h1(class="") GROWTH
                            span
                                i( class="fab fa-pagelines" alt="")
                            | STOCK
                        h1(class="") GROWTH
                            span
                                i( class="fab fa-pagelines" alt="")
                            | STOCK
                div(class="col-lg-6")
                    img(class="img-fluid" src="http://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9&s=270e92a183009532632559b75f6de2d5" alt="")

        section(class="container-fluid px-0")
            div.row.align-items-center.content
                div.col-md-6.order-2.order-md-1
                    img(class="img-fluid" src="http://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9&s=270e92a183009532632559b75f6de2d5" alt="")
                div.col-md-6.text-center.order-1.order-md-2
                    div.row.justify-content-center
                        div.col-10.col-lg-8.mb-5.mb-md-0.blurb
                            h2 GROWTH STOCK
                            p
                                |***
                                i( class="fab fa-pagelines")
                                |.
                                i( class="fab fa-pagelines")
                                |.
                                i( class="fab fa-pagelines")
                                |.
                            p.lead.
                                xdxdxdxdxdxdxdxdxdxfxdxdxdxdxdxdxd
                                xdxdxdxdxdxdxdxdxddxxdxdxddxdxdxdx
                                xdxdxdxdxdxdxdxdxddxxdxdxddxdxdxdx
                                xdxdxdxdxdxdxdxdxddxxdxdxddxdxdxdx
                                xdxdxdxdxdxdxdxdxddxxdxdxddxdxdxdx
            div.row.align-items-center.content
                div.col-md-6.text-center
                    div.row.justify-content-center
                        div.col-10.col-lg-8.mb-5.mb-md-0.blurb
                            h2 GROWTH STOCK
                            p
                                | .
                                i( class="fab fa-pagelines")
                                | .
                                i( class="fab fa-pagelines")
                                | .
                                i( class="fab fa-pagelines")
                                | .
                            p.lead.
                                lololololololololololololololololol
                                lololololololololololololololololol
                                lololololololololololololololololol
                                lololololololololololololololololol
                                lololololololololololololololololol
                div.col-md-6
                    img(class="img-fluid" src="http://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9&s=270e92a183009532632559b75f6de2d5" alt="")

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
    block content
